{% extends "home/layout.html" %}
{% load static %}

{% block styles%}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content%}

  
  

  <div id="searchbox"> 
    <form action="{% url 'search' %}" method="post">
      {% csrf_token %}
      <input class="search" id="#search-input" type="text" name="search_term" placeholder=" ">
      <button type="submit" class="search-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
    </form>
  </div>
  
  {% if search_results %}
    {% for result in search_results %}
    <a id="link" href="{% url 'details' result.id %} ">
      <div id="topbox" class="">
        <div  id="databox"class="">    
           <h3> {{result.title}} </h6>
        </div>
      </div>
    </a>
    {% endfor %}
  {% endif %}

  {% for item in tickers %}
  <a id="link" href="{% url 'details' item.id %} ">
    <div id="topbox" class="">
      <div  id="databox"class="">    
         <h3> {{item.title}} </h6>
          
      </div>
      
    </div>
  </a>

  
  {% endfor %}
  
{% endblock %}
