{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rallys</title>
    <link rel="icon" type="image/png" href="{% static 'images/bw.png'%}">
    <link rel="stylesheet" href="{% static 'styles/style.css'%}">
   
    {% block styles %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    
    <nav id="main" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid py-1">
            <a class="navbar-brand"  href="{% url 'home' %}">
              <img src="{% static 'images/bw.png' %}" alt="Logo" width="90" height="65" style="margin: 0px;" class="d-inline-block align-text-top">
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-light" style="width:200px" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
              <button type="button" class="btn-close " data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li> 
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signin' %}">Log in</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
                </li>
                {% endif %}
            
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link"  href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="{% url 'watchlist' %}">Watchlist</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="{% url 'profile' %}">Notifications</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'signout' %}">Log out</a>
                </li>
                {% endif %}

                <li class="nav-item">
                  <a class="nav-link" href="https://www.linkedin.com/in/harsha-reddy-vanga-2686271a3/" target="_blank">About Me</a>
                </li>
                              
              </ul>
              
            </div>
          </div>
        </div>
      </nav>

      {% block content %}
      {% endblock %}

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <script type="text/javascript"> 
        // Your JavaScript
        $(document).ready(function () {
            $('#search-input').on('input', function () {
                const query = $(this).val();
                $.ajax({
                    url: '/typeahead/',  // Your typeahead view URL
                    data: {'query': query},
                    dataType: 'json',
                    success: function (data) {
                        // Handle the returned data (e.g., populate a dropdown)
                        console.log('success')
                        console.log(data);
                    }
                });
            });
        });
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
