{% extends "home/layout.html" %}
{% load static %}

{% block content%}
    
    


      <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <form action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                  
                </div>

                {% if message %}
                <div class="text-warning" >{{ message }}</div>
                {% endif %}
      
               <!-- User Name -->
               <div class="form-outline mb-4">
                <input type="text" name="username" value="{% if username %}{{ username }} {% endif %}"  id="form3Example3" class="form-control form-control-lg"
                  placeholder="Username" />
               </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" name="email" id="form3Example3" value="{% if email %}{{ email }} {% endif %}" class="form-control form-control-lg"
                    placeholder="Email address" />
                </div>
      
                <!-- Password input -->
                <div class="form-outline mb-3">
                  <input type="password" name="password" id="form3Example4" class="form-control form-control-lg"
                    placeholder="Password" />
                </div>

                <!-- Password input -->
                <div class="form-outline mb-3">
                    <input type="password" name="confirmation" id="form3Example4" class="form-control form-control-lg"
                      placeholder="Confirm password" />
                </div>
      
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit"  class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Sign Up</button>
                </div>
      
              </form>
            </div>
          </div>
        </div>
        
      </section>
      
    
      
{% endblock %}