{% extends "home/layout.html" %}
{% load static %}

{% block content%}
   
      <div class="container px-5 my-5">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="card border-0 rounded-3 shadow-lg">
              <div class="card-body p-4">
                <img src="{% static 'images/02.jpg' %}" alt="will be back..!" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
      
{% endblock %}