{% extends "home/layout.html" %}
{% load static %}

{% block styles%}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content%}

  
  {% if not tickers %}
   <div class="container-lg">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-9 d-flex justify-content-center"> <h1>No Stocks are saved to Watchlist. Add now to follow</h1></div>
    </div>
    
  </div>
  {% endif%}

  {% for item in tickers %}
  <a id="link" href="{% url 'details' item.id %} ">
    <div id="topbox" class="">
      <div  id="databox"class="">    
         <h3> {{item.title}} </h6>
          
      </div>
      
    </div>
  </a>
  {% endfor %}
  
{% endblock %}
