{% extends "home/layout.html" %}
{% load static %}

{% block styles%}
{% endblock %}

{% block scripts %}


{% endblock %}

{% block content%}

<a id="link" href=" ">
  <div id="topbox" class="">
    <div  id="databox"class="">    
       <h3> {{topic.title}} </h3>
       <div>{{topic.description | safe}}</div>
    </div>
  </div>
</a>

{% for comment in comments %}
  <a id="link" href=" ">
    <div id="topbox" class="">
      <div  id="databox"class="">    
        <h3> {{comment.User.firstName}} </h3>
        <div>{{comment.text | safe}}</div>
      </div>
    </div>
  </a>
{% endfor %}
<form action="{% url 'comment' topic.id %}" method="post">
  {% csrf_token %}
  <div class="container container-lg d-flex justify-content-center" id="texteditor"> 
    {{form.media}}
    {{form.text | safe}}
  </div>
  <div class="container container-lg d-flex justify-content-center"> <button class="btn btn-primary" type="submit">Comment</button></div>
</form>


{% endblock %}