@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  
}

body {
  padding-top: 120px;
}

#searchbox {
  display: flex;
  justify-content: center;
  align-items: center;

}

.search-button {
  display: inline-block;
  background-color: #026ddf;
  color: #fff;
  height: 50px;
  border: none;
  border-radius: 5px;
  /* Rounded corners */
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-icon {
  fill: #fff;
  /* Icon color */
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


.search {
  display: inline-block;
  height: 44px;
  width: 548px;
  line-height: 44px;
  border: solid 1px lightgray;
  border-radius: 12px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16),
    0 0 0 1px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
  padding-left: 17px;
}

.search:hover,
.search:focus {
  outline: none;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#link {
  text-decoration: none;
  color: gray;
}

#topbox {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

#databox {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 70%;
}

#databox:hover {
  border: solid 1px lightskyblue;
  color: lightskyblue;
}

@media all and (max-width: 992px) {
  .search {
    width: 300px;
  }

  #databox {
    width: 95%;
  }

}